/devel
/build

/src/ddynamic_reconfigure/*~
/src/ddynamic_reconfigure/*user

/src/realsense-ros/*.bin
/src/realsense-ros/*.ppm
/src/realsense-ros/*.bag
/src/realsense-ros/*.pyc
/src/realsense-ros/*.ini
/src/realsense-ros/.idea/
/src/realsense-ros/.vs/
/src/realsense-ros/*.json

/src/universal_robot/*~
/src/universal_robot/*.pyc

